@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}

p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.center {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 5px;
}

.flexible {
    display: flex;
    align-items: center;
}
.justify-right {
    justify-content: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


.grid {
    display: grid;
    justify-content: center center;
    align-items: center;
}
.grid-2 {
    grid-template-columns: repeat(2,1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 48px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-primary {
    background: linear-gradient(90deg, #f3248f 0%, #FF42A5 100%);
    color: whitesmoke;
    border: 2px solid #f3248f;

}

.button-primary:hover {
    background: whitesmoke;
    color: #F948B2;
    border: 2px solid #f3248f;
    transition: .3s ease all;
}

.button-secondary {
    background: rgba(78, 197, 247, 1);
    color: whitesmoke;
    border: 2px solid rgba(78, 197, 247, 1);

}

.button-secondary:hover {
    background: whitesmoke;
    color: rgba(78, 197, 247, 1);
    border: 2px solid rgba(78, 197, 247, 1);
    transition: .3s ease all;
}


/* ================ */

nav {
    box-shadow: 5px 4px 16px -7px rgba(15,1,1,0.87);
-webkit-box-shadow: 5px 4px 16px -7px rgba(15,1,1,0.87);
-moz-box-shadow: 5px 4px 16px -7px rgba(15,1,1,0.87);
}

.navbar {
    padding: 10px 0;
    justify-content: space-between;
}

.logo {
    gap: 10px;
    cursor: pointer;
}

.logo img {
    width: 90px;
    height: 40px;
}

.logo p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo p span {
    color: rgba(255, 66, 165, 1);
    font-size: 1.6rem;
}


.nav-items {
    justify-content: space-between;
    gap: 50px;
}

.menu-items {
    gap: 10px;
}

.menu-items li, .social-icons {
color: #3C354F;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
}

.menu-items li:hover {
    color: rgba(255, 66, 165, 1);
    transition: .3s ease all;
}

.social-icons {
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    cursor: pointer;
}

.youtube {
    color: rgba(246, 28, 13, 1);
}


/* =======banner section css============= */
.banner-content {
    position: relative;
    padding: 50px 0;
    z-index: 9;
    height: 400px;
}
.banner-content:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("images/groupi.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: calc(-10% - 10px);
    z-index: -1;
}

.banner-content h3 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 50px;
    margin: 5px 0 16px 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-icon {
    gap: 10px;
    padding: 5px 0;
}
.banner-icon i {
    color: #F948B2;
}

.button-box {
    margin-top: 20px;
    gap: 20px;
}
.banner-photos {
    width: 70%;
}

.banner-photos img {
    width: 100%;
}

.flexible-banner {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* gamer section css */
#gamer {
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
}

.gamer-image {
    width: 80%;
}

.gamer-image img {
    width: 100%;
}

.gamer-content {
    text-align: right;
}
.gamer-content h2 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.gamer-purpose {
    padding: 10px 0;
}

.gamer-purpose p{
    padding: 0;

}

.gamer-purpose q span {
    font-weight: 600;
    font-size: 20px;
    color: #534C64;
}

/* game types css */
#game-types {
    padding: 50px 0;
}
.g-types {
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px 0;
}

.g-types2 {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.g-items {
    justify-content: center;
    gap: 10px;
    border: 2px solid transparent;
    padding: 5px 0;
    border-radius: 20px;
    transition: .3s ease all;
}




.g-items img {
    width: 30px;
    height: 30px;
}

.g-items p {
    color: #230214;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: .3s ease all;
}

.g-items:hover {
    border: 2px solid #F948B2;
}

.g-items:hover p {
    color: #F948B2;
}

#videos {
    margin-bottom: 50px;
}

.videos-headline {
    padding-bottom: 50px;
}

.videos-headline h1 {
    font-size: 40px;
    color: #534C64;
    padding-bottom: 10px;
}

.videos-headline h1 span {
    color: #f3248f;
}

.videos {
    gap: 20px;
}

.single-video-item {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.video-img {
    position: relative;
    transition: .3s ease all;
}

.watch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #191015b1;
    border: 2px solid #f3248f;
}

.play-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: #F948B2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.watch i {
    color: white;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

.watch-now {
    color: #F948B2;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.video-img img {
    width: 100%;
}


.video-img:hover .watch {
    display: flex;
    transition: 1s ease all;
}

.video-img:hover .watch{
    display: blcok;
}

/* instant play section */
.intant-play {
    padding: 50px 20px;
}

.instant-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.instant-content-box {
    width: 50%;
    text-align: right;
}

.instant-content-box h2 {
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    color: #534C64;
}

.instant-content-box h2 span {
    color: #f3248f;
}

.instant-content-box p {
    padding: 10px 0;
}
.instant-images {
    width: 50%;
    position: relative;
}

.instant-img1 img {
    width: 100%;
}
.instant-img2 {
    position: absolute;
    bottom: -15%;
    left : -20%;
}
.instant-img2 img {
    width: 50%;
}


/* play content images */


.play-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


.play-content-box {
    width: 50%;
    text-align: left;
}

.play-content-box h2 {
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    color: #534C64;
}

.play-content-box h2 span {
    color: #f3248f;
}

.play-content-box p {
    padding: 10px 0;
}
.play-images {
    width: 50%;
    position: relative;
}

.play-img1 img {
    width: 100%;
}
.play-img2 {
    position: absolute;
    bottom: -20%;
    right: -20%;
    text-align: right;
}
.play-img2 img {
    width: 50%;
}


/* career section */

#career {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-content {
    padding-right: 30px;
}

.career-content h2 {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    padding: 8px 0;
}

.career-content p {
    color: #fff;
    padding: 8px 0;
}

.career-content ul {
    padding: 20px 0;
}

.career-content ul li {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.career-grid {
    grid-template-columns: repeat(2,1fr);
}

.career-btn {
    background: #ffffff;
    color: #f3248f;
}

.career-image {
    width: 100%;
    margin-left: 12%;
}

.career-image img {
    width: 100%;
}



footer {
    padding: 80px 0;
    background: #0B0223;
}
.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.logo-footer {
    justify-content: center;
    padding: 5px 0;
}

.logo-footer p{
    color: white
}

.footer-menu {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

.footer-menu p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 0;
    cursor: pointer;
}

.footer-menu2 {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

.footer-menu2 p {
    color: #534C64;
    font-size: 14px !important;
    text-transform: capitalize;
    padding: 5px 0;
    cursor: pointer;
}

.footer-icon {
    padding: 10px 0;
    cursor: pointer;
}

.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu i {
    color: white;
    font-size: 20px;
}

.copryright {
    padding-top: 20px;

}




/* mobile device's css */

@media screen and (max-width:576px){
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .nav-items {
        flex-direction: column;
        gap: 20px;
    }

    .menu-items {
        flex-direction: column;
    }

    .grid-2 {
        grid-template-columns: repeat(1,1fr);
    }

    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-content::before {
        left: 0;
        background-size: cover;
    }

    .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .flexible-banner {
        justify-content: center;
        order: 1;
    }

    .gamer-image {
        margin: 0 auto;
    }

    .gamer-content {
        text-align: center;
    }
    .gamer-content p {
        text-align: center;
    }

    .g-types {
        grid-template-columns: repeat(2, 1fr);
    }

    .g-types2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .instant-content {
        justify-content: center;
        padding-bottom: 20px;
    }

    .instant-content-box {
        text-align: center;
    }

    .instant-images {
        width: 70%;
    }



    .play-content {
        justify-content: center;
        padding-bottom: 20px;
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .play-content-box {
        text-align: center;
    }

    .play-images {
        width: 70%;
    }


    .justify-right {
        justify-content: center;
    }

    .career-image {
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #career {
        padding: 20px 0;
    }

    .footer-menu {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }


}

/* tablet devices's css */

@media Screen and (min-width: 577px) and (max-width: 768px){
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .nav-items {
        flex-direction: row-reverse;
    }

    .grid-2 {
        grid-template-columns: repeat(1,1fr);
    }
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-content::before {
        left: 0;
    }

    .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flexible-banner {
        justify-content: center;
    }

    .gamer-image {
        margin: 0 auto;
        order: 2;
    }

    .gamer-content {
        text-align: center;
        order: 1;
    }
    .gamer-content p {
        text-align: center;
    }

    .g-types {
        grid-template-columns: repeat(2, 1fr);
    }

    .g-types2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .instant-content {
        justify-content: center;
        padding-bottom: 20px;
    }

    .instant-content-box {
        text-align: center;
    }

    .instant-images {
        width: 70%;
    }


    .play-content {
        justify-content: center;
        padding-bottom: 20px;
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .play-content-box {
        text-align: center;
    }

    .play-images {
        width: 70%;
    }

    .justify-right {
        justify-content: center;
    }

    .career-image {
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #career {
        padding: 20px 0;
    }
}