@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 5px;
}

.flexible {
    display: flex;
    align-items: center;
}


/* ================ */

.navbar {
    padding: 10px 0;
    justify-content: space-between;
}

.logo {
    gap: 10px;
    cursor: pointer;
}

.logo img {
    width: 90px;
    height: 40px;
}

.logo p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo p span {
    color: rgba(255, 66, 165, 1);
    font-size: 1.6rem;
}


.nav-items {
    justify-content: space-between;
    gap: 50px;
}

.menu-items {
    gap: 10px;
}

.menu-items li, .social-icons {
color: #3C354F;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
}

.menu-items li:hover {
    color: rgba(255, 66, 165, 1);
    transition: .3s ease all;
}

.social-icons {
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    cursor: pointer;
}

.youtube {
    color: rgba(246, 28, 13, 1);
}




/* mobile device's css */

@media screen and (max-width:576px){
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .nav-items {
        flex-direction: column;
        gap: 20px;
    }

    .menu-items {
        flex-direction: column;
    }
}

/* tablet devices's css */

@media Screen and (min-width: 577px) and (max-width: 768px){
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .nav-items {
        flex-direction: row-reverse;
    }
}